
.icon-user-add-outline:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-left-open-big:before { content: '\e802'; } /* '' */
.icon-right-open-big:before { content: '\e803'; } /* '' */
.icon-login:before { content: '\e804'; } /* '' */
.icon-logout:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-user-outline:before { content: '\e80a'; } /* '' */
.icon-calendar:before { content: '\e80b'; } /* '' */
.icon-certificate-outline:before { content: '\e80c'; } /* '' */
.icon-mail-outline:before { content: '\e80d'; } /* '' */
.icon-info-circled:before { content: '\e80e'; } /* '' */
.icon-check:before { content: '\e80f'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */